body {
  font-family: 'Roboto', sans-serif;
  background-color: #FEF6EB;
}

header {
  display: flex;
  flex-direction: row;
  margin-bottom: 65px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 43px;
}

input {
  height: 18px;
  width: 330px;
  padding: 5px 0 5px 5px;
  font-size: 16px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #787e80;
  background-color: transparent;
  outline: none;
  padding-left: 50px;
}

label {
  font-size: 16px;
  line-height: 18px;
  padding-left: 50px;
  text-align: center;
  cursor: pointer;
}

hr {
  margin-top: 2px;
  border: none;
  border-bottom: 2px solid #787e80;
}

.logo {
  color: #000000;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  margin-left: 456px;
  margin-right: 240px;
  margin-top: 40px;
}

.back-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-left: 50px;
  margin-top: 45px;
}

.register-form-container {
  position: relative;
  width: 380px;
  height: 540px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  justify-content: center;
  border-radius: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 38px;
  padding-bottom: 100px;
}

.form-title {
  color: #000000;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  /*padding-top: 20px;*/
}

.form-field {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 13px;
}

#logo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.button {
  position: absolute;
  font-size: 14px;
  width: 340px;
  height: 40px;
  background: #FEC56C;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}